/*--------Header---------*/
.head {
    border-bottom: 1px solid black;
    height: 64px;
}
.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.row {
    margin-right: 0 !important; 
    margin-left: 0 !important;
}
/*--------Brand---------*/
.logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/*--------Full screen menu---------*/
.menu {
    width: 100%;
    display: flex;
    z-index: 1000;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-family: 'ProximaNova', sans-serif;
    position: inherit;
}
.dropdown {
    float: left;
    position: inherit;
}
.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn {
    text-decoration: underline;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 100%;
    left: 0;
    z-index: 1;
    margin-top: 4px;
    padding: 3vw 0 3vw 13vw;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.column {
    float: left;
    width: 25%;
    height: 321px; 
    font-size: 14px;
}
.column h3 {
    font-size: 1.4rem;
    text-decoration: underline;
}
.column a {
    color: #696969;
    text-decoration: none;
    display: block;
    text-align: left;
    padding-top: 17px;
}
.clothes {
    width: 45%;
}
.shoes {
    padding-left: 30px;
}
.loc {
    padding-top: 50px;
}
.loc a {
    color: black;
    padding: 17px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.first {
    align-self: center;
    margin-left: 28vw;
}
.form-inline button {
    background-color: black !important;
    color: white !important;
}
.close {
    margin-left: 25vw;
}
/*--------Medium/Small screen menu---------*/
.menu-768 {
    width: 100%;
    display: flow-root;
    justify-content: space-around;
    align-items: center;
    font-family: 'ProximaNova', sans-serif;
}
.second {
    margin-left: 22vw;
}
.navbar {
    position: inherit;
}
.nav-item{
    align-items: center;
    position: relative;
    align-content: center;
    display: flex;
}
.nav-item a{
    text-decoration: none;
    color: black;
}
a:hover {
    color: black;
    opacity: 0.4;
}
ul {
	list-style-type: none;
}
a {
	color: black;
	text-decoration: none;
}
.accordion {
    cursor: pointer;
    padding: 18px 0 18px 9px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}
.active, .accordion:hover {
    border-bottom: 1px solid;
    font-weight: bold;
    border-radius: 0;
}
.accordion:after {
    content: '↓';
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
.active:after {
    content: "↑";
}
.panel {
    padding: 0 9px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.panel ul {
    padding-left: 12px;
}
.low {
   padding-left: 4vw;
}
/*--------Icons---------*/
.icons {
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 23px;
}
/*--------Full screen image---------*/
.group {
    position: relative;
    display: flex;
    background-image: url('../img/group.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
}
.carousel-desc {
    text-shadow: -5px 2px 100px rgba(0, 0, 0, 0.5);
    font-family: 'ProximaNova', sans-serif;
    font-size: 5vw;
    color: #ffffff;
    line-height: 1;
    padding: 14vw 10vw 10vw 13vw;
}
.carousel-desc button {
    width: 116px;
    height: 48px;
    box-shadow: -5px 2px 100px 0 rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    font-family: 'ProximaNova-Extrabld', sans-serif;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    color: #000000;
}
/*--------Main---------*/
/*--------Squares---------*/
.picture-normal {
    width: 64px;
    height: 64px;
    margin-left: 12vw;
}
.picture-little {
    width: 32px;
    height: 32px;
    margin-left: 20vw;
}
.picture-big {
    width: 128px;
    height: 128px;
}
.big-screen {
    padding-left: 10vw;
}
.product-list { 
    font-family: 'ProximaNova-Extrabld', sans-serif;
    font-size: 32px;
    padding-left: 10vw;
}
/*--------Products---------*/
.products {
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding-left: 9vw;
}
.next {
    padding-top: 40px;
}
.first-block {
    width: 350px;
    height: 450px;
}
.col-6 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.second-block {
    width: 100%;
    height: 544px;
}
.third-block {
    width: 272px;
    height: 272px;
}
/*--------Footer---------*/
footer {
    color: #ffffff;
}
/*--------Upper footer---------*/
.up {
    margin-top: 6vw;
    background-color: #1a1a1a;
}
.message {
    font-family: 'ProximaNova', sans-serif;
    color: #ffffff;
    line-height: 0.7;
    font-size: 32px;
    padding: 4vw;
    margin-left: 11vw;
}
.mail {
    margin-left: -3vw;
}
.mail label {
    font-family: 'OpenSans', sans-serif;
    font-size: 14px;
    line-height: 1;
    color: #909095;
    padding-top: 3.8vw;
}
.form-inline input {
    border: solid 2px #000000;
    border-radius: 0;
    width: 20vw !important;
}
.form-inline button {
    margin-left: 3vw;
    background-color: #ffffff;
    font-family: 'ProximaNova-Extrabld', sans-serif;
    font-size: 16px;
    text-align: center;
    color: #000000;
    font-weight: bold;
} 
.btn-primary {
    border-color: white;
}
/*--------Lower footer---------*/
.down {
    background-color: #000000;
}
.contacts {
    padding: 5vw 0 0 12vw !important;  
    font-size: 24px; 
}
.col-4 h4 {
    font-family: 'ProximaNova-Extrabld', sans-serif;
    font-size: 14px;
    line-height: 1.14;
    color: #ffffff;
    font-weight: bold;
}
.col-4 p {
    font-family: 'OpenSans', sans-serif;
    font-size: 13px;
    line-height: 1;
    color: #909095;
}
.hot-links {
    padding-top: 5vw;
}
.hot-links p {
    font-family: 'OpenSans', sans-serif;
    font-size: 13px;
    line-height: 1.23;
}
.hot-links a {
    text-decoration: none;
    color: #909095;
}
.all-right {
    justify-content: space-between;
    color: #909095;
    padding-bottom: 20px;
    width: 100%;
    padding: 2vw;
}
.all-right h4 {
    padding-left: 12vw;
    font-size: 24px;
    color: #909095;
}
.all-right i {
    font-size: 20px
}