@media screen and (min-width: 1201px) {
    .container{
        width: 80%;
        margin: 0 auto;
        max-width: 100%;
    }
    .menu-768 {
        display: none;
    }
    .screen-768 {
        display: none;
    }
    .screen-500 {
        display: none;
    }
    /*---PLP---*/
    .medium-screen {
        display: none;
    }
    .small-screen {
        display: none;
    }
}
@media screen and (max-width: 1200px) {
    .screen-1600 {
        display: none;
    }
    .form-inline .mr-sm-2 {
		width: 45vw !important;
	}
    .dropdown-content {
        padding: 0;
        height: auto;
    }
    .btn-outline-success {
        border-color: black;
    }
    .little {
        display: none;
    }
    .little-line {
        display: none;
    }
    .header-little {
        width: 100%;
        justify-content: space-between;
        padding-left: 4vw;
        background-color: white; 
    }
    .header-little h4 {
        font-weight: bold;
    }
    .dropdown-item {
        padding: 15px 15px 15px 0;
        width: 96%;
        text-align: justify;
    }
    .accordion {
        width: 99%;
        padding-left: 4vw;
        background-color: #ffffff;
   }
    .group {
        background-image: url('../img/ian-dooley-tt-r-ox-wj-9-n-a-unsplash-1.jpg');
    }
    .carousel-desc {
        padding: 14vw 10vw 10vw 3vw;
    }
    .picture-normal {
        margin-left: 0;
    }
    .picture-little {
        margin-left: 20vw;
    }
    .picture-big {
        margin-left: 0;
    }
    .big-screen {
        padding-left: 0;
        margin-left: 6vw;
    }
    .product-list {
        padding-left: 0;
    }
    .products {
        width: 100%;
        padding-left: 1.9vw;
    }
    .products-big {
        margin: 0;
        width: 100%;
    }
    .first-block {
        width: 100%; 
    }
    .third-block {
        width: 100%; 
    }
    .up-768 {
        background-color: #1a1a1a;
    }
    .form-inline input {
        width: 21vw;
    }
    .down {
        text-align: center;
    }
    .all-right {
        padding-bottom: 0;
    }
    .all-right .col-6 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .all-right h4 {
        color: #ffffff;
        font-size: 20px;
        font-weight: bold;
        padding: 1.5vw 0 0 0;
        text-decoration: underline;
    }
    .all-right a {
        color: #ffffff;
        font-family: 'OpenSans', sans-serif;
        font-size: 20px;
        font-weight: bold;
        line-height: 3;
        padding: 0 1vw 0 1vw;

    }
    .all-right i {
        padding: 2.2vw 0 1vw 0;
        font-size: 16px;
    }
    /*---PLP---*/
    .group {
        background-image: none !important;
        height: 14vw !important;
    }
    .carousel-desc {
        padding: 3.3vw 10vw 10vw 31vw !important;
    }
    .screen-500 {
        display: none;
    }
    .full-screen {
        display: none;
    }
    .products {
        padding-left: 0 !important;
    }
    .products img {
        height: inherit;
        width: inherit;
        padding-top: 15px;
    }
    .more-products {
        text-align: center;
        margin-bottom: 6vw;
    }
    .more-products button {
        width: 200px;
        height: 48px;
        color: white;
        background-color: black;
        border: none;
    }
    .accordion {
        width: 99%;
        padding-left: 4vw;
   }
    .small-screen {
        display: none;
    }
    .button {
        width: 20vw;
        border-color: #000000;
        background-color: white;
        color: black;
    }
    .button:not(:disabled):not(.disabled):active {
        border-color: #000000 !important;
        background-color: white !important;
        color: black !important;
    }
    .button:hover {
        color: black !important;
        background-color: white !important;
        border-color: black !important;
    } 
    .filters, .category {
        margin-top: 0 !important;
        height: auto !important;
        width: 45%;
        margin-left: 2.9vw;
    }

}
@media screen and (max-width: 500px) {
    .account-circle-outline {
        display: none;
    }
    .form-inline .form-comtrol {
		width: 45vw !important;
	}
    .normal {
        display: none;
    }
    .little {
        display: flex;
        padding-left: 0;
    }
    .little-line {
        display: block;
    }
    .logo img {
        width: 100%;
    }
    .group {
        background-image: url('../img/ian-dooley-tt-r-ox-wj-9-n-a-unsplash-11.jpg');
        height: 620px;
    }
    .carousel-desc {
        font-size: 11vw;
        padding: 70vw 10vw 10vw 13vw;
    }
    .main {
        text-align: center;
    }
    .picture-normal {
        width: 28px;
        height: 28px;
    }
    .picture-little {
        width: 32px;
        height: 32px;
    }
    .picture-big {
        width: 128px;
        height: 128px;
    }
    .first-block {
        padding-bottom: 16px;
        height: 210px;
    }
    .products-big {
        margin-top: 32px;
    }
    .second-block {
        height: 270px;
    }
    .big-screen {
        text-align: left;
    }
    .product-list {
        text-align: left;
        margin-left: 6vw;
    }
    .picture-big {
        margin-left: 0;
    }
    .up-768 {
        display: none !important;
    } 
    /*---PLP---*/
    .screen-768 {
        display: none;
    }
    .screen-500 {
        display: block;
    }
    .all-right h4 {
        font-size: 25px !important;
        padding: 2vw !important;
    }
    .message {
        font-size: 25px !important;
        padding: 4vw 4vw 0 5vw !important;
    }
    .mail {
        margin-left: 12vw !important;
        padding-bottom: 4vw;
    }
    .form-inline input {
        width: 45vw !important;
    }
    .medium-screen {
        display: none;
    }
    .small-screen {
        display: block;
        text-align: left;
    }
    .products img {
        height: 90vw;
        width: inherit;
        padding-top: 0;
    }
    .products h5 {
        padding-bottom: 50px;
    }
    .button {
        width: 35.9vw;
        border-color: #000000;
        background-color: white;
        color: black;
    }
    .filters, .category {
        width: 100%;
        margin-left: 0;
    }
    
    
    
}