.header-little {
    width: 100%;
    justify-content: space-between;
    padding-left: 4vw;
    background-color: white;
    
}
.header-little h4 {
    font-weight: bold;
}
.dropdown-content {
    margin-top: -4vw;
}
