/*--------Header---------*/
.head {
    border-bottom: 1px solid black;
    height: 64px;
}
.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.row {
    margin-right: 0 !important; 
    margin-left: 0 !important;
}
/*--------Brand---------*/
.logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/*--------Full screen menu---------*/
.menu {
    width: 100%;
    display: flex;
    z-index: 1000;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-family: 'ProximaNova', sans-serif;
    position: inherit;
}
.dropdown {
    float: left;
    position: inherit;
}
.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn {
    text-decoration: underline;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 100%;
    left: 0;
    z-index: 1;
    margin-top: 4px;
    padding: 3vw 0 3vw 13vw;
}
.dropdown-menu {
    padding: 0 !important;
    margin-top: 0 !important;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.column {
    float: left;
    width: 25%;
    height: 321px; 
    font-size: 14px;
}
.column h3 {
    font-size: 1.4rem;
    text-decoration: underline;
}
.column a {
    color: #696969;
    text-decoration: none;
    display: block;
    text-align: left;
    padding-top: 17px;
}
.clothes {
    width: 45%;
}
.shoes {
    padding-left: 30px;
}
.loc {
    padding-top: 50px;
}
.loc a {
    color: black;
    padding: 17px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.first {
    align-self: center;
    margin-left: 28vw;
}
.form-inline button {
    background-color: black !important;
    color: white !important;
}
.close {
    margin-left: 25vw;
}
/*--------Medium/Small screen menu---------*/
.menu-768 {
    width: 100%;
    display: flow-root;
    justify-content: space-around;
    align-items: center;
    font-family: 'ProximaNova', sans-serif;
}
.second {
    margin-left: 22vw;
}
.navbar {
    position: inherit;
}
.nav-item{
    align-items: center;
    position: relative;
    align-content: center;
    display: flex;
}
.nav-item a{
    text-decoration: none;
    color: black;
}
a:hover {
    color: black;
    opacity: 0.4;
}
ul {
	list-style-type: none;
}
a {
	color: black;
	text-decoration: none;
}
.accordion {
    cursor: pointer;
    padding: 18px 0 18px 9px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    background-color: #ffffff;
}
.active, .accordion:hover {
    border-bottom: 1px solid;
    font-weight: bold;
    border-radius: 0;
}
.accordion:after {
    content: '↓';
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
.active:after {
    content: "↑";
}
.panel {
    padding: 0 9px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.panel ul {
    padding-left: 12px;
}
.low {
   padding-left: 4vw;
   padding-bottom: 4vw;
}
/*--------Icons---------*/
.icons {
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 23px;
}
/*--------Full screen image---------*/
.group {
    position: relative;
    display: flex;
    background-color: #1a1a1a;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 14vw;
}
.carousel-desc {
    text-shadow: -5px 2px 100px rgba(0, 0, 0, 0.5);
    font-family: 'ProximaNova', sans-serif;
    font-size: 3vw !important;
    color: #ffffff;
    line-height: 1;
    padding: 3.3vw 10vw 10vw 33vw;
}
/*--------Main---------*/
/*--------Leftside menu---------*/
.sidebar {
    margin-top: 4vw;
    padding-left: 2vw;
}
.sidebar hr {
    margin-bottom: 0;
}
.filters {
    margin-top: 2vw;
}
.filters .panel .range, .filters .panel button, .filters .panel input {
    margin-top: 1vw;
}
.filters .panel .row {
    justify-content: space-around;
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: black;
    cursor: pointer;
}
.button-color {
    background-color: grey;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
}
.button-color:focus {
    border: 2px solid black;
}
/*--------Rightside menu---------*/
.category-name h4 {
    padding: 40px 15px 20px 15px;
    font-weight: bold;
}
.products img {
    height: 27vw;
    width: 21vw;
}
.products h6 {
    padding-top: 15px;
}
.products h5 {
    font-weight: bold;
    padding-bottom: 100px;
}
.products p {
    text-align: center;
}
.pages p {
    color: #000000 !important;
    font-weight: bold;
    font-size: 17px !important;
}
/*--------Footer---------*/
footer {
    color: #ffffff;
}
/*--------Upper footer---------*/
.up {
    margin-top: 6vw;
    background-color: #1a1a1a;
}
.message {
    font-family: 'ProximaNova', sans-serif;
    color: #ffffff;
    line-height: 0.7;
    font-size: 32px;
    padding: 4vw;
    margin-left: 11vw;
}
.mail {
    margin-left: -3vw;
}
.mail label {
    font-family: 'OpenSans', sans-serif;
    font-size: 14px;
    line-height: 1;
    color: #909095;
    padding-top: 3.8vw;
}
.form-inline input {
    border: solid 2px #000000;
    border-radius: 0;
    width: 20vw !important;
}
.form-inline button {
    margin-left: 3vw;
    background-color: #ffffff;
    font-family: 'ProximaNova-Extrabld', sans-serif;
    font-size: 16px;
    text-align: center;
    color: #000000;
    font-weight: bold;
} 
.btn-primary {
    border-color: white;
}
/*--------Lower footer---------*/
.down {
    background-color: #000000;
}
.contacts {
    padding: 5vw 0 0 12vw !important;  
    font-size: 24px; 
}
.col-4 h4 {
    font-family: 'ProximaNova-Extrabld', sans-serif;
    font-size: 14px;
    line-height: 1.14;
    color: #ffffff;
    font-weight: bold;
}
.col-4 p {
    font-family: 'OpenSans', sans-serif;
    font-size: 13px;
    line-height: 1;
    color: #909095;
}
.hot-links {
    padding-top: 5vw;
}
.hot-links p {
    font-family: 'OpenSans', sans-serif;
    font-size: 13px;
    line-height: 1.23;
}
.hot-links a {
    text-decoration: none;
    color: #909095;
}
.all-right {
    justify-content: space-between;
    color: #909095;
    padding-bottom: 20px;
    width: 100%;
}
.all-right h4 {
    padding-left: 12vw;
    font-size: 24px;
    color: #909095;
}
.all-right i {
    font-size: 20px
}