
  body {
    background-color: darkgrey;
}
.container-fluid {
    width: 34vw;
    height: auto;
    background-color: white;
    display: block;
    position: fixed;
    left: 33vw;
    top: 8%;
}
.row {
    padding-top: 1.3vw;
    margin-right: 0 !important;
}
h5 {
    font-weight: bold;
}
.col-1 {
    text-align: center;
    
}
hr {
    margin-top: 5px;
    margin-left: -14px;
    width: 106%;
    margin-bottom: 0;
}
.row p {
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 0.5vw;
}
.buttons {
    padding: 0.5vw 0 2vw 0;
}
.row button {
    margin-left: 15px;
    height: 35px;
}
.btn {
    border-radius: 0;
}
.black {
    background-color: black;
    color: white;
}
.white {
    background-color: white;
    border: 2px solid black;
}
@media screen and (max-width: 1200px) {
    .container-fluid {
        width: 40vw;
        left: 30vw;
    }
    hr {
        width: 108%;
    }
}
@media screen and (max-width: 800px) {
    .buttons {
        padding-bottom: 3vw;
    }
    .col-1 {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
}
@media screen and (max-width: 500px) {
    .container-fluid {
        width: 82vw;
        left: 9vw;
        top: 8%;
    }
    .row {
        padding-top: 3.7vw;
    }
    .buttons {
        padding-bottom: 5vw;
    }
}