
$primary-color: black

//fonts
$small-font: 16px
$medium-font: 24px
$large-font: 32px


header
  .container-fluid
    .row
      .logo
        display: flex
        justify-content: space-around
        align-items: center

      border-bottom: 1px solid black
      .col-12
        .group
          background-image: url('../img/group.jpg')
          width: 100%
          height: 100vh
          img
            width: 100%
          .carousel-desc
            p
              color: red
      .cart
        ul
          display: flex
          justify-content: space-around
          list-style-type: none
      .col-6
        .navbar
          .navbar-nav
            width: 100%
            display: flex
            justify-content: space-around
            align-items: center
            .nav-item
              align-items: center
              position: relative
              align-content: center
              display: flex
              a
                text-decoration: none
                color: $primary-color
                &:hover
                  color: lighten($primary-color, 40%)

footer
  .container-fluid
    color: #ffffff
    .up
      background-color: #1a1a1a
      .message
        font-family: ProximaNova-Extrabld, serif
        font-weight: normal
        color: #ffffff
        line-height: 0.7
        font-size: 32px
        padding: 4vw
        padding-left: 140px


      .mail
        label
          font-family: OpenSans, sans-serif
          font-size: 14px
          line-height: 1
          color: #909095
          padding-top: 3.8vw
        .form-inline
          input
            border: solid 2px #000000
            -webkit-border-radius: 0
            -moz-border-radius: 0
            border-radius: 0
            width: 350px
          button
            text-transform: uppercase
            margin-left: 3vw
            font-weight: bold
            background-color: #ffffff
            font-family: 'ProximaNova-Extrabld', sans-serif
            font-size: 16px
            text-align: center
            color: #000000
            -webkit-border-radius: 0
            -moz-border-radius: 0
            border-radius: 0
            
    .down
      background-color: #000000
      font-family: ProximaNova-Extrabld, serif
      .contacts
        padding-left: 140px
      .col-6
        h2
          font-size: $medium-font
          padding: 48px 0 25px 0
          margin: 0

        p
          font-family: OpenSans, serif
          font-size: 13px
          color: #909095
          margin: 15px 0
        h4
          font-size: 14px
          padding-bottom: 15px
      .hot-links
        .col-3
          p
            margin-top: 0
            a
              text-decoration: none
              color: #909095
    .all-right
      background-color: #000000
      justify-content: space-between
      .col-4
        color: #909095
        padding-bottom: 20px
        h4
          padding-left: 125px
          font-size: 24px
        i
          font-size: 20px




